In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sts

Загрузить данные из файла “ECDCCases.csv”.

In [2]:
data = pd.read_csv('ECDCCases.csv')
data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
4,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
...,...,...,...,...,...,...,...,...,...,...,...,...
61899,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61900,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61901,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61902,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61903,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

Проверить в данных наличие пропущенных значений.

In [3]:
data.isna().sum()

dateRep                                                          0
day                                                              0
month                                                            0
year                                                             0
cases                                                            0
deaths                                                           0
countriesAndTerritories                                          0
geoId                                                          275
countryterritoryCode                                           123
popData2019                                                    123
continentExp                                                     0
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    2879
dtype: int64

Вывести количество пропущенных значений в процентах.

In [4]:
for column in data.columns:
    missing = np.mean(data[column].isna()*100)
    print(f'{column} : {round(missing,1)}%')

dateRep : 0.0%
day : 0.0%
month : 0.0%
year : 0.0%
cases : 0.0%
deaths : 0.0%
countriesAndTerritories : 0.0%
geoId : 0.4%
countryterritoryCode : 0.2%
popData2019 : 0.2%
continentExp : 0.0%
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000 : 4.7%

Удалить два признака, в
которых больше всех пропущенных значений. 
Для оставшихся признаков
обработать пропуски: для категориального признака использовать заполнение
значением по умолчанию (например, «other»), для числового признака
использовать заполнение медианным значением. Показать, что пропусков
больше в данных нет.

In [5]:
data.drop(
    ['Cumulative_number_for_14_days_of_COVID-19_cases_per_100000', 'geoId'],
    axis=1,
    inplace=True)
median_data = data.popData2019.median()
data.popData2019.fillna(median_data, inplace=True)
terr_code = 'other'
data.countryterritoryCode.fillna(terr_code, inplace=True)
data.isna().sum()

dateRep                    0
day                        0
month                      0
year                       0
cases                      0
deaths                     0
countriesAndTerritories    0
countryterritoryCode       0
popData2019                0
continentExp               0
dtype: int64

Посмотреть статистику по данным, используя describe(). Сделать
выводы о том, какие признаки содержат выбросы.

In [6]:
data.describe()

,day,month,year,cases,deaths,popData2019
count,61904.000000,61904.000000,61904.000000,61904.000000,61904.000000,6.190400e+04
mean,15.629232,7.067104,2019.998918,1155.079026,26.053987,4.091909e+07
std,8.841624,2.954816,0.032881,6779.010824,131.222948,1.529798e+08
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.324820e+06
50%,15.000000,7.000000,2020.000000,15.000000,0.000000,7.169456e+06
75%,23.000000,10.000000,2020.000000,273.000000,4.000000,2.851583e+07
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09

Посмотреть, для каких
стран количество смертей в день превысило 3000 и сколько таких дней было

In [7]:
filter = data['deaths'] > 3000
data_filter = data[['dateRep', 'countriesAndTerritories', 'deaths']].loc[filter]
data_filter

          dateRep   countriesAndTerritories  deaths
2118   02/10/2020                 Argentina    3351
16908  07/09/2020                   Ecuador    3800
37038  09/10/2020                    Mexico    3013
44888  14/08/2020                      Peru    3935
44909  24/07/2020                      Peru    3887
59007  12/12/2020  United_States_of_America    3343
59009  10/12/2020  United_States_of_America    3124
59016  03/12/2020  United_States_of_America    3190
59239  24/04/2020  United_States_of_America    3179
59245  18/04/2020  United_States_of_America    3770
59247  16/04/2020  United_States_of_America    4928

Найти дублирование данных.

In [8]:
due_rows = data[data.duplicated()]
due_rows

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
3,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
218,12/05/2020,12,5,2020,285,2,Afghanistan,AFG,38041757.0,Asia
48010,29/05/2020,29,5,2020,0,0,Saint_Lucia,LCA,182795.0,America
48073,28/03/2020,28,3,2020,0,0,Saint_Lucia,LCA,182795.0,America

Удалить дубликаты.

In [9]:
data.drop_duplicates(inplace=True)
data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
0,14/12/2020,14,12,2020,746,6,Afghanistan,AFG,38041757.0,Asia
1,13/12/2020,13,12,2020,298,9,Afghanistan,AFG,38041757.0,Asia
2,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
4,11/12/2020,11,12,2020,63,10,Afghanistan,AFG,38041757.0,Asia
5,10/12/2020,10,12,2020,202,16,Afghanistan,AFG,38041757.0,Asia
...,...,...,...,...,...,...,...,...,...,...
61899,25/03/2020,25,3,2020,0,0,Zimbabwe,ZWE,14645473.0,Africa
61900,24/03/2020,24,3,2020,0,1,Zimbabwe,ZWE,14645473.0,Africa
61901,23/03/2020,23,3,2020,0,0,Zimbabwe,ZWE,14645473.0,Africa
61902,22/03/2020,22,3,2020,1,0,Zimbabwe,ZWE,14645473.0,Africa
61903,21/03/2020,21,3,2020,1,0,Zimbabwe,ZWE,14645473.0,Africa

Загрузить данные из файла “ bmi.csv”.
Взять оттуда две выборки. Одна
выборка – это индекс массы тела людей c региона northwest, вторая выборка –
это индекс массы тела людей с региона southwest

In [10]:
data = pd.read_csv('bmi.csv')
data1 = data.loc[data['region'] == 'northwest']
data1

        bmi     region
0    22.705  northwest
1    28.880  northwest
2    27.740  northwest
3    25.840  northwest
4    28.025  northwest
..      ...        ...
320  26.315  northwest
321  31.065  northwest
322  25.935  northwest
323  30.970  northwest
324  29.070  northwest

[325 rows x 2 columns]

In [11]:
data2 = data.loc[data['region'] == 'southwest']
data2

      bmi     region
325  27.9  southwest
326  34.4  southwest
327  24.6  southwest
328  40.3  southwest
329  35.3  southwest
..    ...        ...
645  20.6  southwest
646  38.6  southwest
647  33.4  southwest
648  44.7  southwest
649  25.8  southwest

[325 rows x 2 columns]

Сравнить средние значения
этих выборок, используя t-критерий Стьюдента. Предварительно проверить
выборки на нормальность (критерий Шопиро-Уилка) и на гомогенность
дисперсии (критерий Бартлетта).

In [12]:
res1 = sts.shapiro(data1['bmi'])
res2 = sts.shapiro(data2['bmi'])
print(res1, '\n', res2)

ShapiroResult(statistic=0.9954646825790405, pvalue=0.4655335247516632)
 ShapiroResult(statistic=0.9949268698692322, pvalue=0.3629520535469055)

In [13]:
res = sts.bartlett(res1,res2)
res

BartlettResult(statistic=0.020568727129718727, pvalue=0.8859600558506152)

In [14]:
t_res = sts.ttest_ind(res1,res2)
t_res

Ttest_indResult(statistic=0.1250303495147544, pvalue=0.9119336981343351)

С помощью критерия Хи-квадрат проверить, является ли полученное
распределение равномерным. Использовать функцию scipy.stats.chisquare().

In [15]:
d = {
    'Points': [1, 2, 3, 4, 5, 6],
    'Полученный': [97, 98, 109, 95, 97, 104],
    'Ожидаемый': [100, 100, 100, 100, 100, 100]
}
data = pd.DataFrame(data=d)
sts.chisquare(data['Полученный'], data['Ожидаемый'])

Power_divergenceResult(statistic=1.44, pvalue=0.9198882077437889)

С помощью критерия Хи-квадрат проверить, являются ли переменные
зависимыми.
Использовать функцию scipy.stats.chi2_contingency().
Влияет ли семейное положение на занятость?

In [16]:
data = pd.DataFrame({
    'Женат': [89, 17, 11, 43, 22, 1],
    'Гражданский брак': [80, 22, 20, 35, 6, 4],
    'Не состоит в отношениях': [35, 44, 35, 6, 8, 22]
})
data.index = [
    'Полный рабочий день', 'Частичная занятость', 'Временно не работает',
    'На домохозяйстве', 'На пенсии', 'Учёба'
]
sts.chi2_contingency(data)[1]

1.7291616900960234e-21